<div (click)="getCoordinates($event)" style="width: 100%;height: 100%">
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center" >Time: {{time_to_play-timerSecondsTotal}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf="interval != null"  class="ion-text-center">
    <div class="center" >
      <ion-text class="ion-text-wrap" class="ion-text-center" color="secondary">
        <h1 style="font-size: 40px;">{{currentWord}}</h1>
      </ion-text>
    </div>
  </ion-content>
  <ion-content *ngIf="interval == null" style="top:40%">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm text-center>
          <div class="center" button (click)="runTimer()">
            <h2>
              <ion-label color="success">
                Start
              </ion-label>
            </h2>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>
<style>
  .center {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
}
ion-content {
  position: absolute;
  top: 35%;
  margin: 0 auto;
  margin-top: 0;
  margin-left: 0;
}

</style>